.about-container {
    display: flex;

}

.about__content {
    flex: 1;
}

.about__user {
    width: 36%;    
  }
  
  .about__desc {
    font-weight: 600;
    margin-bottom: 20px;
  }
  
  .about__title {
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 30px;
    color: $text-color;
  }
  
  .about__ps {
    font-style: italic;
    margin-bottom: 36px;
  }