.hero__container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 60px 0 20px;
    margin-bottom: 160px;
}

.hero__button-buttons {
    display: flex;
    justify-content: center;
}