.quote {
  position: relative;


  &:before {
    content: "";
    display: block;
    height: 37%;
    opacity: .05;
    background: svg-load('quote.svg', fill=$text-color) center center / contain no-repeat;
    position: absolute;
    top: 0;
    left: -100px;

    @include tablets {

      width: 10%;

      top: -15px;
      left: -40px;
    }
  }



}