.socials {
    display: flex;

}
.social__list {
    display: flex
}

.social__item {
    width: 25px;
    height: 25px;
    fill: $text-color;
    margin-right: 30px;

    &:last-child {
        margin-right: 0;
    }
}