.social__list {
    display: flex;
}

.social__item {
    width: 25px;
    height: 25px;
    fill: $text-color;
    margin-right: 43px;

    &:last-child {
        margin-right: 0;
    }
}

.social__item--rounded {
    width: 54px;
    height: 54px;
    border: 1px solid #ffffff30;
    border-radius: 50px;
}


