.triangles {
    display: flex;
}

.triangles__shape {
width: 50%;
fill: #ffffff;
height: 100%;
}


.triangles_top {

    height: 100px;
    position: absolute;
    bottom: 100%;
    width: 100%;
}

.triangles__bottom {
    height: 100px;
    position: absolute;
    top: 100%;
    width: 100%;
    transform: rotate(180deg);
}