
.values__title-text {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 55px;
  }
  
  .values__title-content  {
    color: rgba($text-color, .5);
    font-weight: 600;
    line-height: 1.8;
  }
  