script(type="text/x-template")#preview-container
    .works__cont    
        display
        info

script(type="text/x-template")#preview-display
    .works__preview(data-slide="1")
        .works__preview-pic
            +image("content/slider-1.jpg", "works__preview-img")
            .works__preview-tumbs
                thumbs
            .works__privew-btns
                btns

script(type="text/x-template")#preview-thumbs
    ul.thumbs
        - for (var i = 3; i > 1; i--)
            li.thumbs__item
                a(href="#").thumbs__link
                    +image(`content/slider-${i}.jpg`, 'thumb__img')

script(type="text/x-template")#preview-btns
    .square-btns
        button(type="button").square-btn__item.square-btn__item--next
        button(type="button").square-btn__item.square-btn__item--prev

script(type="text/x-template")#preview-info
    .works__preview-info 
        tags
        .works__preview-title Сайт школы образования 
        .works__preview-desc 
            p Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
        a(href="").iconed-link  Посмотреть сайт

script(type="text/x-template")#preview-tags
    - var tags = ["HTML", "CSS", "JavaScript"];
        ul.tags
            each item in tags
                li.tags__item
                    .tag #{item}