script(type="text/x-template")#preview-container
    .works__preview(:data-slide="currentIndex + 1")
        display(
            :currentWork="currentWork",
            :works="works",
            :currentIndex="currentIndex",
            @slide="slide",
    
        )
        info(
            :currentWork="currentWork"
        )

script(type="text/x-template")#preview-display
    .works__preview-pic
        img(:src="currentWork.photo").works__preview-img
        .works__preview-tumbs
            thumbs(
                :works="reveseWorks",
                :currentWork="currentWork",

            )
        .works__privew-btns
            btns(                
                @slide="$emit('slide',$event)" 
            )

script(type="text/x-template")#preview-thumbs
    ul.thumbs
        li.thumbs__item(
            v-for="slide in works" :key="slide.id"
            :class="{active: currentWork.id === slide.id}")
            a.thumbs__link
                img(:src="slide.photo").thumb__img

script(type="text/x-template")#preview-btns
    .square-btns
        button(
            type="button"
            @click="$emit('slide','next')" 
        ).square-btn__item.square-btn__item--next
        button(
            type="button"
            @click="$emit('slide','prev')" 
        ).square-btn__item.square-btn__item--prev

script(type="text/x-template")#preview-info
    .works__preview-info 
        tags(
            :tags="tagsArray"
        )
        .works__preview-title {{currentWork.title}}
        .works__preview-desc 
            p {{currentWork.desc}}
        a(:href="currentWork.link").iconed-link  Посмотреть сайт

script(type="text/x-template")#preview-tags
    ul.tags
        li.tags__item(
            v-for="tag in tags"
        )
            .tag {{tag}}